PORT=3000

DB_HOST=localhost
DB_PORT=8024
DB_USER=root
DB_PASSWORD=test
DB_NAME=testdb
DB_SSL=false

SEED_DB=false
CLEAR_DB=false
LOG_DB=true
VERBOSE_LOG_DB=false

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000/
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FRONTEND_URL=https://website.adamas2aurum.workers.dev
BACKEND_URL=
BACKEND_WS_URL=
