DB_HOST=localhost
DB_PORT=8024
DB_USER=root
DB_PASSWORD=test
DB_NAME=testdb
DB_SSL=false

#Better Auth Secrets
BETTER_AUTH_SECRET=yours
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=yours
GOOGLE_CLIENT_SECRET=yours