//AIVEN DB CREDENTIALS
DB_HOST=******.aivencloud.com
DP_PORT=2***
DB_USER=avn****
DP_PASSWORD=AVNS_******
DB_NAME=name
DB_SSL=false

SEED_DB=false
CLEAR_DB=false
LOG_DB=true
VERBOSE_LOG_DB=false

//BETTER AUTH CREDENTIALS
BETTER_AUTH_SECRET=*******
BETTER_AUTH_URL=http://localhost:3000/
GOOGLE_CLIENT_ID=*******
GOOGLE_CLIENT_SECRET=88888
